@import url('https://fonts.googleapis.com/css2?family= Kdam+Thmor+Pro & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
}

.hero-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('./imagem-fundo1.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 60px;
}

nav {
   width: 50%; 
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 700px;
}

li {
    font-family: 'Oswald', sans-serif ;
    font-size: 21px;
    color: #fff;
    cursor: pointer;
}

li:hover {
    color: #4ddbff;
}

.arrows {
    width: 60px;
    height: 172px;
    bottom: 20px;
}

.arrows path {
    stroke: #fff;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {opacity: 0} 
    40% {opacity: 1} 
    80% {opacity: 0} 
    100% {opacity: 0}    
}

@-webkit-keyframes arrow {
    0% {opacity: 0} 
    40% {opacity: 1} 
    80% {opacity: 0} 
    100% {opacity: 0} 
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.content-container {
    height: 100vh;
    background-color: #333;
}
.profile-container {
    color: #333;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./fundo-page2.jfif');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-content {
    width: 30%;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
}

.profile-image {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 4px solid #4ddbff;
}

.name-text {
    font-family: 'Oswald', sans-serif ;
    font-size: 21px;
    margin-top: 15px;
}

.profile-text {
    font-family: 'Oswald', sans-serif ;
    font-size: 17px;
    text-align: center;
    height: 80%;
    margin-top: 10px;
}

.profile-button {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #4ddbff;
    color: #fff;
    font-family: 'Oswald', sans-serif ;
    margin-top: 35px;
    cursor: pointer;
}

.divider {
    width: 100%;
    border-top: .5px solid #bfbfbf;
    margin: 20px 0;
}

.icons-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.icon-item {
    width: 80px;
    height: auto;
}

.project-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./projectbg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-content {
    width: 75%;
    height: 80%;
    display: grid;
    grid-template-rows: repeat(1fr, 3);
}

.position-container {
    width: 100%;
    display: flex;
}

.right {
    justify-content: flex-end;
}

.left {
    justify-content: flex-start;
}

.project-card {
    width: 700px;
    height: 200px;
    background-color: black;
    box-shadow: 10px 10px 5px black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.card-reverse {
    flex-direction: row-reverse;
}

.project-image {
    width: 350px;
    height: auto;
    position: relative;
    border-radius: 8px;
    right: 20px;
}

.image-reverse {
    left: 20px;
}

.project-text {
    color: white;
    font-family: 'Oswald', sans-serif;
}

.form-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./fundo-page2.jfif');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
}

label {
    display: block;
}

input {
    display: block;
    width: 300px;
    border-radius: 10px;
}

textarea {
    display: block;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
    border-radius: 8px;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #4ddbff;
    color: #fff;
    font-family: 'Oswald', sans-serif ;
    margin-top: 35px;
    cursor: pointer;
}

.title-form {
    font-family: 'Kdam Thmor Pro', sans-serif ;
    color: #4ddbff;
    padding: 20px;
}





